.readMore {
    text-align: right;
    display: block;
    flex-shrink: 0;
    padding-left: 4rem;
}

.sectionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.16rem;
    margin-bottom: 1.58rem;
}

.sectionHeader h1 {
    margin: 0;
    width: 100%;
}
